@model CovidApi.Models.DataFile

@{
    ViewData["Area"] = "Admin";
    ViewData["SubArea"] = "DataFiles";
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>DataFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecordsProcessed" class="control-label"></label>
                <input asp-for="RecordsProcessed" class="form-control" />
                <span asp-validation-for="RecordsProcessed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Completed" class="control-label"></label>
                <input asp-for="Completed" class="form-control" />
                <span asp-validation-for="Completed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedAt" class="control-label"></label>
                <input asp-for="CompletedAt" class="form-control" />
                <span asp-validation-for="CompletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUrl" class="control-label"></label>
                <input asp-for="FileUrl" class="form-control" />
                <span asp-validation-for="FileUrl" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
