SQLSERVER_DATASOURCE=my.domain.or.ip,port
SQLSERVER_CATALOG=Covid19
SQLSERVER_USER_ID=covid19User
SQLSERVER_USER_PASSWORD={STRONG_PASSWORD}
TWILIO_ACCOUNT_SID=addThisIfYouWantTextedWhenAFileIsProcessed
TWILIO_AUTH_TOKEN=addThisIfYouWantTextedWhenAFileIsProcesseds
ENVIRONMENT=RELEASE
